@using Microsoft.AspNetCore.Http
<h3>@this.Title</h3>

<table>
    <th>
        <td>名前</td>
        <td>値</td>
    </th>
    <tr>
        <td>アップル</td>
        <td>@this.Apple</td>
    </tr>
    <tr>
        <td>バナナ</td>
        <td>@this.Banana</td>
    </tr>
    <tr>
        <td>チェリー</td>
        <td>@this.Cherry</td>
    </tr>
</table>

@code {


    // ========================================
    // パラメーター
    // ========================================
    //
    //      - パラメーターは、（ヌルを入れることができてしまうことから）ヌル許容型にしてください。


    // タイトル


    /// <summary>
    ///     <pre>
    /// アップル
    ///     </pre>
    /// </summary>
    [Parameter]
    public string? Title { get; set; }


    // アップル


    /// <summary>
    ///     <pre>
    /// アップル
    ///     </pre>
    /// </summary>
    [Parameter]
    public string? Apple { get; set; }


    // バナナ


    /// <summary>
    ///     <pre>
    /// バナナ
    ///     </pre>
    /// </summary>
    [Parameter]
    public string? Banana { get; set; }


    // チェリー


    /// <summary>
    ///     <pre>
    /// チェリー
    ///     </pre>
    /// </summary>
    [Parameter]
    public string? Cherry { get; set; }
}
