@page "/life-cycle-example"

<h3>［ライフサイクル・メソッド］の例</h3>

@code {


	// ========================================
	// ライフサイクル・メソッド
	// ========================================


	protected override void OnInitialized()
	{
		Console.WriteLine("[OnInitialized() > Begin]");
		base.OnInitialized();
		Console.WriteLine("[OnInitialized() > End]");
	}


	protected override async Task OnInitializedAsync()
	{
		Console.WriteLine("[OnInitializedAsync() > Begin]");
		await base.OnInitializedAsync();
		Console.WriteLine("[OnInitializedAsync() > End]");
	}


	protected override void OnParametersSet()
	{
		Console.WriteLine("[OnParametersSet() > Begin]");
		base.OnParametersSet();
		Console.WriteLine("[OnParametersSet() > End]");
	}


	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("[OnParametersSetAsync() > Begin]");
		await base.OnParametersSetAsync();
		Console.WriteLine("[OnParametersSetAsync() > End]");
	}


	protected override void OnAfterRender(bool firstRender)
	{
		Console.WriteLine("[OnAfterRender(firstRender) > Begin]");
		base.OnAfterRender(firstRender);
		Console.WriteLine("[OnAfterRender(firstRender) > End]");
	}


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		Console.WriteLine("[OnAfterRenderAsync(firstRender) > Begin]");
		await base.OnAfterRenderAsync(firstRender);
		Console.WriteLine("[OnAfterRenderAsync(firstRender) > End]");
	}
}
