@page "/life-cycle-example"

<h3>［ライフサイクル・メソッド］の例</h3>

<p>メッセージ１： @Message1</p>

@code {


	// ========================================
	// ライフサイクル・メソッド
	// ========================================


	protected override void OnInitialized()
	{
		Console.WriteLine($"[{DateTime.Now}][OnInitialized() > Begin]");
		base.OnInitialized();
		Console.WriteLine($"[{DateTime.Now}][OnInitialized() > End]");
		this.Message1 = $"OnInitialized() が呼び出されました。({DateTime.Now})";
	}


	protected override async Task OnInitializedAsync()
	{
		Console.WriteLine($"[{DateTime.Now}][OnInitializedAsync() > Begin]");
		await base.OnInitializedAsync();

		await Task.Delay(1000);   // ここで何か時間のかかる処理をしてみる。

		Console.WriteLine($"[{DateTime.Now}][OnInitializedAsync() > End]");
	}


	protected override void OnParametersSet()
	{
		Console.WriteLine($"[{DateTime.Now}][OnParametersSet() > Begin]");
		base.OnParametersSet();
		Console.WriteLine($"[{DateTime.Now}][OnParametersSet() > End]");
	}


	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine($"[{DateTime.Now}][OnParametersSetAsync() > Begin]");
		await base.OnParametersSetAsync();

		await Task.Delay(1000);   // ここで何か時間のかかる処理をしてみる。

		Console.WriteLine($"[{DateTime.Now}][OnParametersSetAsync() > End]");
	}


	protected override void OnAfterRender(bool firstRender)
	{
		Console.WriteLine($"[{DateTime.Now}][OnAfterRender(firstRender) > Begin]");
		base.OnAfterRender(firstRender);
		Console.WriteLine($"[{DateTime.Now}][OnAfterRender(firstRender) > End]");
	}


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		Console.WriteLine($"[{DateTime.Now}][OnAfterRenderAsync(firstRender) > Begin]");
		await base.OnAfterRenderAsync(firstRender);

		await Task.Delay(1000);   // ここで何か時間のかかる処理をしてみる。

		Console.WriteLine($"[{DateTime.Now}][OnAfterRenderAsync(firstRender) > End]");
	}
}
