@page "/life-cycle-custom-example"

<h3>LifeCycleCustomExamplePage</h3>

@code {


    // ========================================
    // ライフサイクルメソッド
    // ========================================


    protected override void OnInitialized()
    {
        Console.WriteLine("OnInitialized");
        base.OnInitialized();
    }


    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync");
        await base.OnInitializedAsync();
        await Task.CompletedTask;
    }


    protected override void OnParametersSet()
    {
        Console.WriteLine("OnParametersSet");
        base.OnParametersSet();

        // パラメーターに変更があったことを示すフラグを立てる
        this._isParameterDirty = true;
    }


    protected override async Task OnParametersSetAsync()
    {
        Console.WriteLine("OnParametersSetAsync");
        await base.OnParametersSetAsync();
        await Task.CompletedTask;

        // パラメーターの変更に対する処理が終わったらフラグを下す。
        this._isParameterDirty = false;
    }


    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"OnAfterRender: firstRender={firstRender}");
        base.OnAfterRender(firstRender);
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // TODO: Re-entrance Guard 処理を入れたい。

        Console.WriteLine($"OnAfterRenderAsync: firstRender={firstRender}");
        await base.OnAfterRenderAsync(firstRender);

        // 初回描画は、まだ `OnParametersSet()`, `OnParametersSetAsync()` が終わっていない可能性があるので、スキップします。
        if (firstRender)
        {
            await this.InvokeAsync(this.StateHasChanged);
            return;
        }

        // パラメーターの変更に対する処理が終わっていない場合は、スキップします。
        if (this._isParameterDirty) return;

        if (!this._isReady)
        {
            // １回だけ実行したい設定があれば、ここに書いてください。

            this._isReady = true;
        }

        // ここに毎描画後の処理を書いてください。

        await Task.CompletedTask;
    }


    // ========================================
    // 内部データメンバー
    // ========================================


    /// <summary>
    /// パラメーターに変更があり、それに対応する処理 `OnParametersSet()`, `OnParametersSetAsync()` がまだ終わっていないことを示すフラグです。
    /// </summary>
    private bool _isParameterDirty;

    private bool _isReady;
}
