@page "/periodic-timer-example"
@using System.Threading.Tasks
<h3>PeriodicTimerComponent</h3>

@code {

    async Task _MainAsync()
    {
        // 1秒ごとに実行したい場合
        using var timer = new PeriodicTimer(TimeSpan.FromSeconds(1));

        // キャンセルしたいときはこれを用意（任意）
        using var ctSource = new CancellationTokenSource();

        try
        {
            while (await timer.WaitForNextTickAsync(ctSource.Token))
            {
                // ここが定期的に呼ばれる部分
                System.Console.WriteLine($"ピコーン！ {DateTime.Now:HH:mm:ss.fff}");

                // 例: 何か重い処理をしてもOK（次のtickはズレない）
                // await SomeAsyncWork();
            }
        }
        catch (OperationCanceledException)
        {
            Console.WriteLine("タイマー正常終了～");
        }
    }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        System.Console.WriteLine($"[{DateTime.Now:HH:mm:ss.fff}]［ＰeriodicTimerExamplePage ＞ ＯnInitialized］　初期化");
    }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        System.Console.WriteLine($"[{DateTime.Now:HH:mm:ss.fff}]［ＰeriodicTimerExamplePage ＞ ＯnInitializedAsync］　初期化");
        await _MainAsync();
    }


    /// <summary>
    /// 一度も呼び出されてない？
    /// </summary>
    /// <param name="firstRender"></param>
    /// <returns></returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            System.Console.WriteLine($"[{DateTime.Now:HH:mm:ss.fff}]［ＰeriodicTimerExamplePage ＞ ＯnAfterRenderAsync］　最初の描画");
            await this.InvokeAsync(this.StateHasChanged);
        }
    }
}
