@page "/periodic-timer-example"
@using System.Threading.Tasks
@implements IAsyncDisposable

<PageTitle>同期タイマーの例</PageTitle>
<h3>PeriodicTimerComponent</h3>

@code {


    // ========================================
    // プロパティ
    // ========================================


    /// <summary>
    /// プリレンダリングか。
    /// </summary>
    private bool IsPrerendering => !this.RendererInfo.IsInteractive;


    /// <summary>
    /// タイマーをキャンセルしたいとき
    /// </summary>
    private CancellationTokenSource _cancellationTokenSource = new ();


    // ========================================
    // ライフサイクルメソッド
    // ========================================


    /// <summary>
    /// 呼んでないのに呼び出される？
    /// </summary>
    /// <returns></returns>
    public async ValueTask DisposeAsync()
    {
        if (this.IsPrerendering)
        {
            System.Console.WriteLine($"[{DateTime.Now:HH:mm:ss.fff}]［ＰeriodicTimerExamplePage ＞ ＤisposeAsync］＜プリレンダリング＞　破棄");
            return;
        }

        System.Console.WriteLine($"[{DateTime.Now:HH:mm:ss.fff}]［ＰeriodicTimerExamplePage ＞ ＤisposeAsync］　破棄");
        this._cancellationTokenSource.Cancel(); //  タイマーの終了
    }


    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (this.IsPrerendering)
        {
            System.Console.WriteLine($"[{DateTime.Now:HH:mm:ss.fff}]［ＰeriodicTimerExamplePage ＞ ＯnInitialized］＜プリレンダリング＞　初期化");
            return;
        }

        System.Console.WriteLine($"[{DateTime.Now:HH:mm:ss.fff}]［ＰeriodicTimerExamplePage ＞ ＯnInitialized］　初期化");
    }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        System.Console.WriteLine($"[{DateTime.Now:HH:mm:ss.fff}]［ＰeriodicTimerExamplePage ＞ ＯnInitializedAsync］　初期化");

        // 終わりを待ちません
        _ = Task.Run(async () =>
        {
            await _WorkingAsync();
        });
    }


    /// <summary>
    /// 
    /// </summary>
    /// <param name="firstRender"></param>
    /// <returns></returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            System.Console.WriteLine($"[{DateTime.Now:HH:mm:ss.fff}]［ＰeriodicTimerExamplePage ＞ ＯnAfterRenderAsync］　最初の描画");
            await this.InvokeAsync(this.StateHasChanged);
        }
    }


    // ========================================
    // その他
    // ========================================


    private async Task _WorkingAsync()
    {
        // 1秒ごとに実行したい場合
        using var timer = new PeriodicTimer(TimeSpan.FromSeconds(1));

        try
        {
            while (await timer.WaitForNextTickAsync(this._cancellationTokenSource.Token))
            {
                // ここが定期的に呼ばれる部分
                System.Console.WriteLine($"ピコーン！ {DateTime.Now:HH:mm:ss.fff}");

                // 例: 何か重い処理をしてもOK（次のtickはズレない）
                // await SomeAsyncWork();
            }
        }
        catch (OperationCanceledException)
        {
            Console.WriteLine("タイマー正常終了～");
        }
    }
}
