@page "/syncable-task-manager-objectification-example"
@using BlazorApp1.Models
@rendermode InteractiveServer	// ボタンの @onclick に必要

<PageTitle>同期タスクマネージャーの例（オブジェクト化）</PageTitle>
<h3>SyncableTaskManagerObjectificationExample</h3>

<p>
    １５秒間ぐらい連打してみてください。だいたい５秒置きに１回実行されます。<br/>
    <button @onclick="this.Perform">実行</button>
</p>

@code {


    // ========================================
    // パラメーター　＞　フック
    // ========================================


    [Parameter]
    public EventCallback OnExampleCompleted { get; set; }


    // ========================================
    // プロパティ
    // ========================================


    /// <summary>
    /// タスクの進捗
    /// </summary>
    public TaskProgress ExampleProgress => this._exampleProgressImpl;
    private TaskProgress _exampleProgressImpl { get; set; } = new TaskProgress();


    // ========================================
    // ライフサイクルメソッド
    // ========================================


    protected override void OnInitialized()
    {
        base.OnInitialized();
        System.Console.WriteLine($"[{DateTime.Now:HH:mm:ss.fff}]［ＳyncableTaskManagerObjectificationExamplePage ＞ ＯnInitialized］　初期化");
    }


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        System.Console.WriteLine($"[{DateTime.Now:HH:mm:ss.fff}]［ＳyncableTaskManagerObjectificationExamplePage ＞ ＯnInitializedAsync］　初期化");

        // 終わりを待ちません
        _ = Task.Run(async () =>
        {
            await _WorkingAsync();
        });
    }


    /// <summary>
    /// 
    /// </summary>
    /// <param name="firstRender"></param>
    /// <returns></returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            System.Console.WriteLine($"[{DateTime.Now:HH:mm:ss.fff}]［ＳyncableTaskManagerObjectificationExamplePage ＞ ＯnAfterRenderAsync］　最初の描画");
            await this.InvokeAsync(this.StateHasChanged);
        }
    }


    // ========================================
    // イベントハンドラ
    // ========================================


    private void Perform()
    {
        this.ExampleProgress.Apply();
    }


    // ========================================
    // その他
    // ========================================


    private async Task _WorkingAsync()
    {
        // 1秒ごとに反応したい場合
        using var timer = new PeriodicTimer(TimeSpan.FromSeconds(1));

        // キャンセルしたいときはこれを用意（任意）
        using var ctSource = new CancellationTokenSource();

        try
        {
            while (await timer.WaitForNextTickAsync(ctSource.Token))
            {
                // （申請側との対応）受理されておらず、申請されていれば
                if (this._exampleProgressImpl.IsAcceptable)
                {
                    // 受理して、申請は解消させます。
                    this._exampleProgressImpl.Accept();
                }

                // （執行側との対応）執行中でなく、受理されていれば
                if(this._exampleProgressImpl.IsExecutable)
                {
                    // 執行開始します。受理は解消させます。
                    this._exampleProgressImpl.Execute();
                    System.Console.WriteLine($"ピコーン！　執行開始！ {DateTime.Now:HH:mm:ss.fff}");

                    // 終わりを待ちません
                    _ = Task.Run(async () =>
                    {
                        // 5秒待機
                        await Task.Delay(5 * 1000);

                        // 完了します
                        this._exampleProgressImpl.Complete();
                        System.Console.WriteLine($"ピコーン！　執行完了！ {DateTime.Now:HH:mm:ss.fff}");
                        // 完了通知
                        await this.OnExampleCompleted.InvokeAsync();
                    });
                }
            }
        }
        catch (OperationCanceledException)
        {
            Console.WriteLine("タイマー正常終了～");
        }
    }
}
